ProbandoConversor/src/META-INF/wsdl/localhost_8080/conversor_WS/conversor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://conversor_WS.policia.diputacion.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://conversor_WS.policia.diputacion.org/">

<xs:element name="Pdf2" type="tns:Pdf2"/>

<xs:element name="Pdf2Response" type="tns:Pdf2Response"/>

<xs:element name="Pdf2Word" type="tns:Pdf2Word"/>

<xs:element name="Pdf2WordResponse" type="tns:Pdf2WordResponse"/>

<xs:complexType name="Pdf2">
<xs:sequence>
<xs:element name="pdf" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="desde" type="xs:int"/>
<xs:element name="hasta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pdf2Response">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pdf2Word">
<xs:sequence>
<xs:element name="pdf" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Pdf2WordResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>